name: "Check plugin on MacOS"
on: [push, pull_request]
jobs:
  validation:
    name: "MacOS check"
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: gradle/actions/setup-gradle@v3
      - name: Check Gradle Doctor
        run: ./gradlew pluginTasks
