name: "CI"
on: [push, pull_request]
jobs:
  validation:
    name: "Building"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: |
          17
          8
        distribution: 'liberica'
    - uses: gradle/actions/setup-gradle@v3
      with:
        add-job-summary-as-pr-comment: on-failure
    - name: Check Gradle Doctor
      run: ./gradlew checkPlugin
    - name: Publish Snapshot
      if: github.ref == 'refs/heads/master' && github.event_name != 'pull_request' && github.repository == 'runningcode/gradle-doctor'
      run: ./gradlew publishToMavenCentral -PmavenCentralUsername=${{ secrets.SONATYPE_USERNAME }} -PmavenCentralPassword=${{ secrets.SONATYPE_PASSWORD }} --no-configuration-cache
