name: "Check plugin on MacOS"
on: [push, pull_request]
jobs:
  validation:
    name: "MacOS check"
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: |
            11
            17
          distribution: "liberica"
      - uses: gradle/actions/setup-gradle@v5
        with:
          add-job-summary-as-pr-comment: on-failure
      - name: Check Gradle Doctor
        env:
          GRADLE_ENCRYPTION_KEY: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
        run: ./gradlew pluginTasks
