name: "Check plugin on MacOS"
on: [push, pull_request]
jobs:
  validation:
    name: "MacOS check"
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: |
            8
            17
          distribution: 'liberica'
      - uses: gradle/actions/setup-gradle@v4
        with:
          add-job-summary-as-pr-comment: on-failure
      - name: Check Gradle Doctor
        run: ./gradlew pluginTasks
