name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Deploy docs
    if: github.repository == 'runningcode/gradle-doctor'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v5

      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@1.26
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}

